main {
  .locations {
    .mat-mdc-chip-set {
      max-width: 200px;
    }
  }

  .machines {
    width: 100%;
    min-height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    gap: 16px;
  }
}
