<app-header></app-header>

<main class="main">
  <div class="explanatory-text">
    <p>
      Let's select a location to see the machines available at that location.
      You can scroll through the machines and edit or delete them as needed.
    </p>
  </div>

  <div class="summary-section" *ngIf="machines().length">
    <p>Total Machines: {{ totalMachines() }}</p>
    <p>Online: {{ onlineMachines() }}</p>
    <p>Offline: {{ offlineMachines() }}</p>
    <p>Under Maintenance: {{ maintenanceMachines() }}</p>
  </div>

  <div class="locations" *ngIf="locations().length">
    <mat-chip-listbox
      class="mat-mdc-chip-set-stacked"
      (change)="onLocationChange($event)"
    >
      @for (location of locations(); track location.id) {
      <mat-chip-option>{{ location.name }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <div class="card-carousel-container">
    <button
      *ngIf="currentClientWidth() > 480"
      class="carousel-arrow left-arrow"
      (click)="scroll('left')"
    >
      &lt;
    </button>

    <div class="card-list-wrapper" #cardListWrapper>
      <div class="card-list">
        @for (machine of selectedMachines(); track machine.id) {
        <app-washing-machine-card
          [machine]="machine"
          [location]="selectLocationByMachine(machine.locationId)"
        ></app-washing-machine-card>
        } @empty {
        <div class="no-machines-message">
          <p>
            <i class="material-icons">info</i> There are no machines available
            for {{ selectedLocation()?.name || "Unknown" }}.
          </p>
        </div>
        }
      </div>
    </div>

    <button
      *ngIf="currentClientWidth() > 480"
      class="carousel-arrow right-arrow"
      (click)="scroll('right')"
    >
      &gt;
    </button>
  </div>

  <div class="help-button">
    <button mat-icon-button (click)="openHelpModal()">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</main>
