<main class="main">
  <div class="locations">
    <mat-chip-listbox
      class="mat-mdc-chip-set-stacked"
      (change)="onLocationChange($event)"
    >
      @for (location of locations(); track location.id) {
      <mat-chip-option>{{ location.name }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <div class="machines">
    @for (machine of selectedMachines(); track machine.id) {
    <app-washing-machine-card
      [machine]="machine"
      [location]="selectLocationByMachine(machine.locationId)"
    ></app-washing-machine-card>
    } @empty {
    <li>There are no machines available.</li>
    }
  </div>
</main>
