@import "../mixins.scss";

.main {
  padding: 5px;

  .explanatory-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .summary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 40px;
    width: 60%;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    color: #333;
  }

  .summary-section p {
    margin: 8px 0;
    font-weight: 600;
  }

  .locations {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .mat-mdc-chip-set-stacked {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 15px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      mat-chip-option {
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: white;
        font-size: 16px;
        color: #555;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease,
          color 0.3s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }

      mat-chip-option:hover,
      mat-chip-option:focus {
        background-color: #e3e3e3;
        color: #333;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      mat-chip-option.mat-chip-selected {
        background-color: #ff6f61;
        color: white;
        border-color: #ff6f61;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .card-carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    scroll-behavior: smooth;
    overflow: hidden;

    .carousel-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;
      z-index: 1;

      &.left-arrow {
        left: 0;
      }

      &.right-arrow {
        right: 0;
      }
    }

    .card-list-wrapper {
      flex: 1;
      overflow: hidden;
      scroll-behavior: smooth;

      .card-list {
        display: flex;
        gap: 16px;
        padding: 0 10px;

        app-washing-machine-card {
          min-width: 200px;
          transition: transform 0.3s, opacity 0.3s;
          &.faded {
            opacity: 0.5;
          }
        }

        @include respond-to(mobile) {
          display: block;
          gap: 0;
        }
      }
    }
  }

  .help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
